# OS
.DS_Store
Thumbs.db

# IDE
_.*
.project
.idea
/*.iml
.vscode
.cache
!*.cache
.settings
!*.settings
.config
!*.config
.buildpath
.metadata
.tmp*
*.prefs
.deployables
atlassian-ide-plugin.xml

# Node
node_modules
npm-debug.log

# allow
!.gitkeep

# build
build

#cache
zip_folder/
