* {
  box-sizing: border-box;
}

.theme-dark {
  background: black;
  color: white;
  .example {
    background-color: purple;
    color: orange;
  }
}

.theme-light {
  background: white;
  color: black;
  .example {
    background-color: yellowgreen;
    color: blueviolet;
  }
}

.example {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 60%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

.example > div {
  float: left;
  width: 50%;
  padding: 30px;
}

.colour-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  gap: 5px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.colour-container > div {
  color: white; 
  text-align: center;
  padding: 15px;
}

#colour1 {
  background-color: Tomato;
}

#colour2 {
  background-color: Orange;
}

#colour3 {
  background-color: DodgerBlue;
}

#colour4 {
  background-color: MediumSeaGreen;
}

#colour5 {
  background-color: Gray;
}

#colour6 {
  background-color: SlateBlue;
}

#colour7 {
  background-color: Violet;
}

#colour8 {
  background-color: LightGray;
}

#font-sofia {
  font-family: "Sofia", sans-serif;
  font-size: 20px;
}

#bigben {
  width: 100%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

::selection {
  background: yellow;
}

.vertical-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  & li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  & li a:hover {
    background-color: #555;
    color: white;
  }
}

.horizontal-navbar {
  width: 300px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f1f1f1;
  & li {
    float: left;
  }
  & li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  & li a:hover {
    background-color: #555;
    color: white;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 20px;
  border: 1px solid black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#fname:focus {
  background-color: lightblue;
}