/* .theme-dark .example {
  background-color: black;
  color: white;
} */
.theme-dark {
  background: black;
  color: white;
  .example {
    background-color: purple;
    color: orange;
  }
  
}

.theme-light {
  background: white;
  color: black;
  .example {
    background-color: yellowgreen;
    color: blueviolet;
  }
}
/* .example {
  background-color: yellowgreen;
  color: blueviolet;
} */
