.modal {
    display: none;
    width: 500px;
    height: 500px;
    position: absolute;
    z-index: 1;
    padding: 200px 100px;
    background-color: rgba(0, 0, 0, 0,4);
}

.modal-content {
    background-color: aliceblue;
    margin: auto;
    padding: 20px;
    border: 3px dotted #2e34a0;
}

.close-button {
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#myBtn {
    background-color: rgb(148, 207, 61);
    color: white;
    font-size: 50px;
    border-style: none;
    padding: 20px;
}