<header class="header">
  <div class="header__logo">
    <img src={{logo}} alt="logo" class="header__logo-img"/>
    <h2>{{title}}</h2>
  </div>
  <nav class="header__nav">
    <ul class="header__nav-list">
      <li class="header__nav-item"><a href="/">Home</a></li>
      <li class="header__nav-item"><a href="/html.html">Html</a></li>
      <li class="header__nav-item"><a href="/css.html">Css</a></li>
      <li class="header__nav-item"><a href="/javascript.html">Javascript</a></li>
      <li class="header__nav-item"><a href="/about.html">About</a></li>
    </ul>
  </nav>
</header>