<html>
  <head>
    <meta charset='utf-8' />
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <script defer src='main.js'></script>
  </head>
  <body>
    <div class='container'>
      <h1>FIRST PAGE :)</h1>
      <img src='' alt='logo' />
      <div id='testHbs'></div>
    </div>
  </body>
</html>